*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist', sans-serif;
}
main{
    background: white;
}
html{
    scroll-behavior: smooth;
}
header {
    position: relative;
    display:flex;
    justify-content: space-between;
    width:100%;
    max-width:3900px;
    margin: auto;
}/*
#home {
    color:#fff;
    display:flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    padding:28px 0px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    align-items: center;
}*/
.nonebar{
    display: block;
    position: relative;
    background-color: transparent;
    width: 230px;
}
.navbar{   
    z-index: 999;
    display:flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 5px 50px 5px 0px;
} 
.menu-links{
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;  
}
.menu-linksbtn ul{
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    width:300px;
    text-align: center;
}
.menu-linksbtn a {
    display:block;
    display:block;
    text-align: center;
    color:#fff;
    mix-blend-mode: exclusion;
    text-decoration:none;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing:1px
}
.menu-linksbtn a:hover{
    color: #309AD7;
    transition: 0.5s;
}
.menusocial{
    right: 0;
}
.menusocial ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content:space-between;
    width:230px;
    text-align: center;
}
.menusocial ul a {
    text-decoration:none;
    cursor: pointer;
    align-items: center;
}
.menusocial li:first-child{
    display: inline-flex;
    margin-right: 5px;
    border: 1px solid #309AD7;
    border-radius: 20px;
}
.menusocial a:first-child{
    color: #309AD7;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-items: center;
    padding: 8px 0px;
    width: 119px;
}


.menu-linksbtn a:hover,
.menu-linksbtn a.active {
  transition: 0.5s ease-out;
  letter-spacing: 1.2px;
}
.btn-toggle{display: none;}
    
@media only screen and (max-width: 1000px) {
    .nonebar{display: none}
  .box{
    width: fit-content;
    height: 0vh;
    position: relative;
    text-align: left;
    z-index: 1;
    opacity: 0;
    left: -500px;
    pointer-events: none;
    transition: 0.3s;
  }
.btn-toggle {
    position:absolute;
    right:30px;
    top:8px;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:15px;
    height:15px;
    
}
.btn-toggle .bar {
    height:3px;
    width:100%;
    border-radius:20px
}
  .active_box{
    opacity: 1;
    left: 0px;
    pointer-events: fill;
  }
  .menu_icon_box{
    display: block;
    z-index: 2;
    width: fit-content;
    height: auto;
    margin: 20px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
  }
  .line1 , .line2 , .line3{
    width: 20px;
    height: 3px;
    margin: 4px 0px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.2s;
  }
  .active .line1{
    transform: translate(0px , 15px)rotate(45deg);
  }
  .active .line2{
    opacity: 0;
  }
  .active .line3{
    transform: translate(0px , 1px)rotate(-45deg);
  }
  .imglogo-m{
      position: absolute;
      display: block;
      z-index: 999;
      left: 1.9rem;
      top: 0.6rem;
  }
  .imglogo-m img{
      width: 100%;
      max-width: 70px;
      margin: auto;
      padding: 0px;
  }
  .menu-links{
    background-color: #00000031;
  flex-direction: column;
  align-items:center;
  margin-top: 0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 50px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  height:280px
  }
  .menu-links ul{
      display: block;
      margin-right: 10px;
  }
  .menu-links a {
  padding:.25rem 2rem
  }
  .menu-linksbtn{
      display: flex;
  }
  .menusocial ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 150;
      justify-content: center;
      margin: auto;
  }
  .menusocial ul li:last-child{
      margin-top: -0.1px;
      margin-left:0;
  }
  .menusocial ul a {
      text-decoration:none;
      cursor: pointer;
      align-items: center;
  }
  .menusocial li:first-child{
      display: inline-flex;
      padding: 2px 4px;
      gap: 8px;
      border: 1px solid #309AD7;
      border-radius: 20px;
  }
  .menusocial a:first-child{
      color: #309AD7;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      align-items: center;
  }
  .menu-links.active{
      margin: auto;
      margin-top: 70px;
  display:flex;
  }
  .menusocial.active {
      display:flex
  }
  .navbar {
  padding:0px 0px;
  }
  #home {
  display:flex;
  flex-direction:column;
  max-width: 400px;
  text-align: right;
  align-items: end;
  }   
}

.videocontainer{
    position: relative;
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:3900px;
    background-color:transparent;
}
.videoimg {
    display: block;
    width: 100%;
    object-fit: cover;
}
.videop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width:100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 50px 0 50px;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videop img{
    max-width: 300px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.videop p{
    color: #fff;
    width: 358px;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: 'Urbanist';
    font-size: 40.033px;
    font-style: normal;
    font-weight: 400;
    padding-top: 40px;
}
.videop p span{
    text-decoration:underline#309AD7 6px !important;
    text-underline-offset:15px !important;
    -webkit-text-decoration-line:  underline !important;
    -webkit-text-decoration-color: #309AD7 !important;
    -webkit-text-decoration-style: solid !important;
    -webkit-text-decoration-thickness: 6px !important;
}
.videop p svg{display: none;}
@media screen and (max-width:1200px) {
    .videop img{
        max-width: 280px;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .videop p{
        width: 100%;
        max-width: 605px;
        height: auto;
        margin: auto;
        font-size: 80.033px;
        top: 50%;
    }
}
@media screen and (max-width:600px) {
    .videoimg{
        width: 100%;
        height: 500px;
        object-position: bottom;
    }
    .videop{
        flex-direction: column;
        padding: 0;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .videop img{
        max-width: 180px;
        margin-bottom: 40px;
    }
    .videop p{
        width: 100%;
        max-width: 317px;
        font-size: 52px;
        line-height: 90%;
    }
    /* .videop p svg{
        display: block;
        position: absolute;
        margin: auto;
        margin-left: 31%;
        margin-top: 8px;
        max-width: 180;
    }*/
}

.aboutcontainer{
    position: relative;
    width: 100%;
    max-width: 3290px;
    margin: auto;
    height: 100%;
    max-height: 940px;
    background-image: url(../assets/about-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #07041E;
}
.about{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: block;
    flex-direction: column;  
    padding:0;
    color: #FFF;
    font-family: 'Urbanist';
}
.about h2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;    
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}
.about h2 svg{
    display: block;
    position: absolute;
    justify-content: center;
    top: 244px;
    left: 14%;
}
.abouttext{ 
    display: flex;
    flex-direction: column; 
    max-width: 465px;
    float: left;
    text-align: center;
    margin-top: 150px;
}
.abouttext p{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 50px;
}
.abouttext p span{
    font-size: 14px;
}
.abouttext h6{
    font-size: 14px;
    font-style: normal;
    font-weight:800;
    line-height: 160%;
    letter-spacing: 0.7;
    border: 1px solid #309AD7;
    border-radius: 8px;
    margin: 20 0 20 0;
    padding: 10;
    color: #309AD7;
}
.abouttext span{
    font-size: 14px;
    font-style: normal;
    line-height: 130%;
    font-weight: 600;
}
/*
.aboutreveal.reveal{
    transform: translateX(-150%);
    opacity: 0;
    transition: 1s all ease;
}
.aboutreveal.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}
/*.cards.reveal{
    position: relative;
    transform: translateX(-150%);
    opacity: 0;
    transition: 1s all ease;
}
.cards.reveal.active{
    transform: translateX(0%);
    opacity: 1;
}*/

.aboutimgmob{display: none;}
@media screen and (max-width:1390px) {

    .aboutcontainer{
        max-height: 610px;
    }
    .about{
        padding:0 80;
    }
    .about h2{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .about h2 svg{
        display: block;
        position: absolute;
        justify-content: center;
        top: 105px;
        left: 22%;
    }
    .abouttext{ 
        margin: auto;
        margin-top: 10px;
    }
    .abouttext p{
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-top: 40px;
    }
    .abouttext p span{
        font-size: 14px;
    }
    .abouttext h6{
        font-size: 14px;
        font-style: normal;
        font-weight:800;
        line-height: 160%;
        letter-spacing: 0.7;
        border: 1px solid #309AD7;
        border-radius: 8px;
        margin: 20 0 20 0;
        padding: 10;
        color: #309AD7;
    }
    .abouttext span{
        font-size: 14px;
        font-style: normal;
        line-height: 130%;
        font-weight: 600;
    }
}/*
@media screen and (max-width:1240px) {
    .aboutcontainer{
        max-height: 600;
    }
    .abouttext{   
        max-width: 350px;
    }
    .abouttext h2{
        font-size: 32px;
        font-weight: 600;
    }
    .abouttext h2 svg{
        margin-top: 14px;
    }
    .abouttext p{
        width: 401.135px;
        line-height: 115%;
    }
    .abouttext p span{
        font-size: 14;
    }
    .abouttext h6{
        font-size: 14px;
        font-style: normal;
        font-weight:700;
        line-height: 160%;
        letter-spacing: 0.7;
        border: 1px solid #309AD7;
        border-radius: 8px;
        margin: 16 0 16 -8;
        padding: 10;
    }
    .abouttext span{
        max-width: 350;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1px;
    }
}
@media screen and (max-width:980px) {
    .aboutcontainer img{
        display: block;
        width: 100%;
        margin: auto;
        object-fit: cover;
    }
.aboutcontainer{
    background-image: url(../assets/about-bg-m.png);
    height: 1090px;
    max-height: 1900px;
    object-fit:cover;
    margin: auto;
}
.about{
    position: relative;
    width: 100%;
    max-width: 440px;
    margin: auto;
    display: block;
    text-align: center;
    flex-direction: column;  
    padding:10 15 0 15;
    color: var(--off-white, #FFF);
    font-family: 'Urbanist';
}
.about h2{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 290;
}
.about h2 svg{
    display: flex;
    margin-top: 14px;
    left: 50%;
    transform: translateX(185%);
}
.abouttext{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translateX(-3%);
}
.abouttext p{
    width: 361.135px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 0;
}
.abouttext p span{
    font-size: 14px;
}
.abouttext h6{
    display: block;
    max-width: 361.135px;
    
    font-size: 13px;
    font-style: normal;
    font-weight:600;
    line-height: 120%;
    letter-spacing: 0.7;
    border: 1px solid #309AD7;
    border-radius: 8px;
    margin: 10 0 10 0;
    padding: 10;
}
.abouttext span{
    max-width: 350;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
}
}*/

.servicescontainer{
    background-color: #fff;
    width: 100%;
    max-width: 3290px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.services{
    width: 100%;
    max-width: 1260px;
    margin: auto;
}
.servicestitle{
    font-family: 'Urbanist', sans-serif;
    color: #07041E
}
.servicescontainer .servicestitle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 60px;
}
.servicestitle h2 svg{
    margin-top: 16px;
}
.servicestitle p{
    display: block;
    max-width: 447px;
    text-align: center;
    margin: auto;
    font-size:16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    margin-bottom: 50px;
}

:root {
    --swiper-navigation-color: #eee;
    --swiper-pagination-color: #333333cc;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
}
swiper-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-height: 640px;
  cursor: grab;
  margin: 0 !important;
}
swiper-container:host{
    --swiper-theme-color: #fff;
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  max-width: 383px;
  border-radius: 30px;
  background-color: #002A68;
  margin-left: 15px;
}
swiper-slide .servicescard img {
  width: 100% !important;
  max-width: none !important;
  margin: auto;
  justify-content: start;
  object-fit: cover !important;
  object-position: center;
}
swiper-slide h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #309AD7;
    margin-top: 25px;
}
swiper-slide p{
    max-width: 291px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    color: #309AD7;
    margin: auto;
    margin-top: 15px;
}

.preferencecontainer{
    position: relative;
    top: 10;
    background-color: #fff;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../assets/preferencebg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.preference{
    width: 100%;
    max-width: 1340px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 80px 50px 40px 50px;
}
.preference h3{
    width: 349px;
    color: #fff;
    text-align: center;
    margin: auto;
    font-family: 'Urbanist', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%; /* 40px */
}
.preference h3 svg{
    margin-top: 14px;
}
.preferencegrid{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.preferencecard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: transparent;
    margin: auto;
    max-width: 250px;
    border-radius: 20px
}
.preferencecard img{
    display: block;
    max-width: 112px;
}
.preferencecard h5{
    color: #309AD7;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 20px */
    margin-top: 16px;
}
.preferencecard p{
    color: #309AD7;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.2px;
    margin-top: 16px;
}
#preferencecard1 h5{
    width: 232px;
}
#preferencecard2 h5{
    width: 265px;
}
#preferencecard3 h5 {
    width: 263px;
}
@media screen and (max-width: 1070px) {
.preference {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
}
.preference h3{
    width: 252px;
    font-size: 30px;
}
.preference p{
    width: 344px;
    font-size: 16px;
    margin-top: 25px;
}
.preferencegrid{
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}
.preferencecard{
    padding-bottom: 34px;
}
.preferencecard:last-child{
    padding-bottom: 0;
}
.preferencecard img{
    max-width: 223px;
}
.preferencecard h5{
    font-size: 16px;
}
#preferencecard1 h5{
    margin-top: 20px;
}
#preferencecard2 h5{
    margin-top: 20px;
}
#preferencecard3 h5 {
    margin-top: 20px;
}
}
.request{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    height: 10px;
}
.request a{
    display: block;
    text-decoration: none;
    display: inline-flex;
    width: 230px;
    height: 46px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 72px;
    background: #309AD7;
    color: #07041E;
    font-size: 18px;
    font-weight: 700;
}
.request a:hover,
.request a.active {
  transition: 0.5s ease-out;
  letter-spacing: 1px;
}
@media screen and (max-width: 770px) {
    .request{
        height: 120px;
    }

}
.portifoliotitle p{
    max-width: 600px;
font-family: 'Urbanist', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}
swiper-container.mySwiper2 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-height: 580px;
  cursor: grab;
  margin: 0 !important;
}
swiper-slide.swiper2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  max-width: 583px;
  border-radius: 30px;
  background-color: #002A68;
  margin-left: 15px;
}
.swiper2 .servicescard img {
  width: 100% !important;
  max-width: none !important;
  margin: auto;
  justify-content: start;
  object-fit: cover !important;
  object-position: center;
}

.teamcontainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    align-items: center;
    color: #07041E;
}
.teamcontainer h2{
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Urbanist';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.teamcontainer h2 svg{
    margin-top: 16px;
}
.teamtitle{
max-width: 800px;
text-align: center;
margin-bottom: 30px;
}

.teamgrid{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    max-width: 1016px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}
.teamgrid .teamgridcard h3{
    margin-top: 32px;
    font-family: 'Urbanist', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.teamgrid .teamgridcard p{
    margin-top: 16px;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.3;
}
.teamgrid .teamgridcard a{
    padding-top: 16px;
    color: var(--high-tiffany, #9BEBEC);
    font-family: 'Urbanist';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #07041E;
    opacity: 0.6;
}
.teamgridcard img{
    width: 100%;
}
.teamgridcard:hover > img{
    width: calc(100% + 5%);
    margin-left: -2.5%;
    margin-bottom: -3%;
    transition: 1s all ease;
}
@media screen and (max-width:990px) {
    .teamcontainer{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 2990px;
        margin: auto;
        color: #FFF;
        align-items: center;
    }
    .teamcontainer h2{
        margin-top: 60px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'Urbanist';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
    }
    .teamcontainer h2 svg{
        margin-top: 16px;
    }
    .teamgrid{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 100%;
        max-width: 1116px;
        margin: auto;
        color: #FFF;
        margin-bottom: 20px;
        text-align: left;
    }
    .teamgridcard{
        margin: auto;
        margin-bottom: 80px;
    }
    .teamgridcard h3{
        margin-top: 22px;
        font-family: 'Urbanist', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
    }
    .teamgridcard p{
        margin-top: 24px;
        font-family: 'Urbanist', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 158%; 
        opacity: 0.3;
    }
    .teamgridcard a{
        color: var(--high-tiffany, #9BEBEC);
        font-family: 'Urbanist';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        text-decoration: none;
        color: #07041E;
        opacity: 0.6;
    }
    
}
.formgrid{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 2990px;
    height: auto;
    max-height: 1800px;
    margin: auto;
    background: no-repeat url(../assets/formbg.png);
    background-size: 100%;
    padding: 150px 0;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 550px;
    margin: auto;
    border-radius: 25px;
    justify-content: right;
    background-color: #FFF;
    padding: 80px;
}
.form h2{
    font-size: 40;
    font-weight: 700;
    line-height: 40px;
    margin: auto;
    margin-bottom: 40px;
}
form {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 20px;
}
#form input, textarea, select{
    width: 100%;
    list-style: none;
    padding: 20px;
}
#form input{
    height:  46px;    
}
#form textarea{
    padding: 20px;
}
#form select option:first{
    color: #000000a4;
}
#form button{
    margin-top: 15px;
    width: 180px;
    border-radius: 5px;
    list-style: none;
    border: 2px solid #fff;
    color: #07041E;
    border-radius: 16px;
    padding: 10px;
    margin: auto;
    background-color: #309AD7;
    cursor: pointer;
}
#form button:hover{
    background-color: #309ad7cc;
    transition: 0.7s;
}
.formgroup1, .formgroup2{
    display: flex;
    gap: 20px;
}
.rights{
    position: relative;
    height: 91px;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    margin-top: 200px;
    padding: 34px 0;
    background-color: #309AD7;
    align-items: center;
    text-align: center;
}
.rights p{
    color: #4E4E4E;
    font-family: 'Urbanist';
    font-size: 14.4px;
    font-weight: 500;
    line-height: 150%;
}
@media screen and (max-width:1000px) {    
    .form{
        position: absolute;
        display: block;
        right: 0;
        top: 30;
        left: 0;
        width: 460px;
        justify-content: right;
        margin: auto;
        height: 450px;
        background-color: #010102;
    }
    form {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: right;
        flex-direction: column;
        gap: 17px;
        background-color: #010102;
    }
    #form input, textarea{
        width: 100%;
        list-style: none;
        border: 4px solid #fff;
        border-radius: 16px;
        padding: 10px;
        background-color: #010102;
    }
    #form input{
        height:  46px;    
    }
    #form button{
        margin-top: 5px;
        width: 110px;
        border-radius: 5px;
        list-style: none;
        border: 2px solid #fff;
        color: #309AD7;
        border-radius: 16px;
        padding: 8px;
        margin: auto;
        background-color: #010102;
        cursor: pointer;
    }
    #form button:hover{
        border: 2px solid #07041E;
        transition: 0.7s;
    }
    .formgroup1, .formgroup2{
        display: flex;
        gap: 20px;
    }
}
@media screen and (max-width:770px) {
    .form{
        width: 360px;
        margin: auto;
        height: 400px;
    }
}

footer{
    position: relative;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    height: auto;
    background-color: #309AD7;
    color: #fff;
}
.footergrid{
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 10px 50px 0 0;
}
.footermenu1{
    display: flex;
    justify-content: center;
    width: 288px;
}
.footermenu1 ul li, .hours ul{
    list-style: none;
}
.footermenu1 ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.footermenu1 ul li a:hover {
    color: #ffffffa9;
    transition: 0.5s;
}
.footermenu1 ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.hours ul{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    height: 122px;
}
.hours h2{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
}
.footerimglogo{
    display: flex;
    justify-content: center;
    width: 288px;
    padding: 50 0 20 0; 
}
.footerimglogo img{
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 200px;
}
.adress{
    display: flex;
    justify-content: right;
    width: 188px;
    height: 50px;
    margin-top: 50px;
}
.adress p{
    text-align: center;
    width: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%; /* 25.6px */
}
.footersocials{
    justify-content: right;
    width: 108px;
    margin-top: 35px;
}
.footersocials p{
    text-align: right;
    margin-right:20px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}
.footersocials ul {
    justify-content: right;
    list-style: none;
    display: flex;
    text-align: center;
    gap: 18px;
    padding-top: 18px;
}
.footersocials ul a{
    text-decoration: none;
}
.rights{
    position: relative;
    height: 81px;
    width: 100%;
    max-width: 2990px;
    margin: auto;
    padding: 34px 0;
    background-color: #309AD7;
    align-items: center;
    text-align: center;
    border-top: 1px solid #fff;
}
.rights p{
    color: #fff;
    font-size: 14.4px;
    font-weight: 500;
    line-height: 150%;
}
@media screen and (max-width: 770px) {
    footer{
        position: relative;
        width: 100%;
        max-width: 2990px;
        margin: auto;
        height: 100px;
        background-color: #FFF;
        margin: auto;
    }
    .footergrid{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1240px;
        margin: auto;
        justify-content: space-between;
    }
    .footermenu2{
        margin-top: 20px;
    }
    .footermenu2 ul li {
        list-style: none;
    }
    .footermenu2 ul li a, .footermenu1 ul li a{
        text-decoration: none;
        font-family: 'Neue';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
    }
    .footermenu2, .footermenu1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .adress{
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .adress p{
        justify-content: center;
        margin-top: 0px;
        margin: auto;
    }
    .footerimglogo{
        display: flex;
        margin-left: 0;
        margin-top: 0px;
        display: flex;
        margin: auto;
        justify-content: center;
        padding: 20 0 20 0; 
    }
    .footerimglogo img{
        margin-top: 0px;
        width: 100%;
        height: 100%;
        width: 180px;
    }
    .footersocials{
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .footersocials{
        justify-content: center;
    }
    .footersocials p{
        text-align: center;
        margin: 0;
        color: #fff;
        font-family: 'Neue';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; 
    }
    .footersocials ul {
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 5px;
        padding-top: 8px;
        margin-left: 19px;
    }
    .footersocials ul a{
        text-decoration: none;
    }
    .rights{
        height: 70px;
        padding: 30px 0;
    }
    .rights p{
        font-size: 11px;
    }
}
:root {
    --scroll: 0
}